---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";
import Location from "../components/Location.astro";
---

<Layout>
  <main>
    <Title />
    <Location />
  </main>
</Layout>

<style></style>
