---
---

<!-- Layouts -->
<div class="text-center text-white">
  <button id="generateButton">
    <div class="-translate-x-9 drop-shadow-lg">
      <pre>
     _  _
       | || | _
       -| || || |
         | || || |-
         \_  || |
           |  _/
         -| | 
              |_|-    
      </pre>
    </div>
  </button>
  <p id="link" class="hidden font-text drop-shadow-lg p-4"></p>
  <button
    id="refreshButton"
    class="hidden font-text border-4 rounded-md border-double border-l-white shadow-lg px-4"
    >refresh</button
  >
</div>

<script>
  import linkList from "./links.js";

  function getLink() {
    var random = Math.floor(Math.random() * linkList.length);
    var link = linkList.at(random);
    return link;
  }

  const btn: HTMLElement | null = document.getElementById("generateButton");
  const rbtn: HTMLElement | null = document.getElementById("refreshButton");
  const locationLink: HTMLElement | null = document.getElementById("link");

  if (!!btn && !!rbtn && !!locationLink) {
    btn.addEventListener("click", () => {
      var link = getLink();
      btn.classList.add("hidden");

      rbtn.classList.remove("hidden");
      rbtn.classList.add("text-center");

      locationLink.classList.remove("hidden");
      locationLink.innerText = link!;

      rbtn.addEventListener("click", () => {
        alert("Clicked refresh.");
      });
    });
  }
</script>
