<!-- Title -->
<div class="text-center pt-5 text-white">
  <h1 class="font-title text-2xl drop-shadow-lg p-5">What To Do In Phoenix</h1>
  <h2 class="font-text italic text-xs drop-shadow-lg">by James Miller</h2>
  <p class="font-text font-bold p-8 drop-shadow-lg">
    The valley is evergrowing. Click the cactus below to generate one of my
    favorites here:
  </p>
</div>
