---
import "@fontsource/rubik-mono-one";
import "@fontsource/montserrat-alternates";
import "@fontsource/anaheim";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>The Valley</title>
  </head>
  <body class="bg-gradient-to-r from-orange-400 to-red-600">
    <slot />
  </body>
</html>
